.footer {
    width: 100%;
    height: 200px;
    margin-top: 100px;
    background-color: #ddd;
    overflow: hidden;
}
.w_1400 {
    width: 1400px;
    margin: 0 auto;
    position: relative;
}
.w_1400 > ul {
    display: flex;
    gap: 40px;
}
.w_1400 > ul > li {
    font-size: 14px;
    padding-top: 50px;
    letter-spacing: -1px;
    color: #666;
    cursor: pointer;
}
.w_1400 > ul > li:hover {
    color: rgb(223, 88, 88);
}
.w_1400 > ul > li > span {font-weight: 900;}
.footer_img_txt {
    display: flex;
    margin-top: 30px;
}
.place_txt {
    font-size: 14px;
    margin: 5px 0 0 30px;
    color: #666;
}
.place_txt > p {margin: 10px 0 0 0; padding: 0;}